<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('config/meta') -%>
    <%- include('config/styles') -%>
    <%- include('config/scripts') -%>
</head>
<body>
    <%- include('static/menu', { loged }) -%>
    <%- include('static/cart') -%>
    <%- include('pages/details', { data }) -%>
    <%- include('static/promove', { conteudo }) -%>
    <%- include('static/footer') -%>
</body>
</html>