<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('config/meta') -%>
    <%- include('config/styles') -%>
    <script src="/scripts/background.js"></script>
    <script src="/scripts/scripts.js" defer></script>
</head>
<body>
    <%- include('static/menu', { loged }) -%>
    <%- include('pages/dev', { dataorders }) -%>
    <%- include('static/footer') -%>
</body>
</html>
